$color-primary: #244577;
$color-secondary: #1a75b3;
$blue: rgb(5, 6, 53);
$orange: rgb(238, 167, 69);
$light-blue: rgb(91, 129, 243);
$pink: rgb(245, 122, 143);
$navy: #050c38;
$color-white: #fff;
$color-black: #000;
$dark-grey: #333;

$font-primary: 'Lato', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px (10/16 browser default)
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  background-repeat: no-repeat;
  min-height: 100vh;
  background: linear-gradient(45deg, $blue 0%, rgba($color-secondary, 0) 70%),
    linear-gradient(135deg, $light-blue 10%, rgba($color-secondary, 0) 80%),
    linear-gradient(225deg, rgba($pink, 1) 10%, rgba($color-secondary, 0) 80%),
    linear-gradient(315deg, $orange 100%, rgba($color-secondary, 0) 70%);
  font-family: $font-primary;
  color: $navy;
  letter-spacing: 1.5px;
}

.container {
  min-width: 60rem;
  background-color: rgba($color-white, 0.4);
  padding: 2rem;
  border-radius: 7px;
}

.header {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $navy;
}

.temp-btn {
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;
}

.location {
  &--timezone {
    font-size: 1.8rem;
    font-weight: 400;
    color: $dark-grey;
  }
}

.main-details {
  &--container {
    display: flex;
    justify-content: space-between;
    margin: 4rem 2rem;
  }
  &__left {
    display: flex;
    flex-direction: column;
  }
  &--sunrise-set {
    display: flex;
    align-items: center;
    padding: 5px 0;
    color: $dark-grey;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  &--date,
  &--day {
    font-size: 3rem;
    font-weight: 400;
  }
  &--time {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  &__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 3rem;
  }
}

.sunrise-set-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}

.main-icon > img {
  height: 6rem;
  width: 6rem;
  margin-bottom: 1rem;
}

.temp {
  &--container {
    display: flex;
    align-items: center;
  }
  &--degree {
    font-size: 5rem;
    font-weight: 700;
  }
  &--scale {
    margin-left: 5px;
    font-size: 3rem;
  }
  &--feels-like {
    font-weight: 300;
    color: $dark-grey;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    padding: 5px 0;
  }
  &--desc {
    font-weight: 400;
    color: $dark-grey;
    font-size: 2rem;
    letter-spacing: 0.5px;
  }
}

.add-details {
  &--container {
    background: rgba($color-white, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  &__column {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__icon {
    height: 3rem;
    width: 3rem;
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0;
    margin: 8px 0;
  }
  &__data {
    font-weight: 400;
    color: $dark-grey;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
  }
}

.attribute {
  padding: 1rem;
  position: fixed;
  bottom: 0;
}
